body{
    height: 100vh;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 20vw;
}
.card img{
    background-size: cover;
}

@media (Max-width:800px) {
    .card{
        width: 80vw;
    }
}