header{
    text-align: center;
    height: 100vh;
    background-image: url(/Images/img.jpg);
    
}
header h1{
    color: white;   
    margin-top: 200px;
    font-size: 5em;
}
header h1 span{
    font-size: 0.7em;
}
/* .description p{
    color: white;
} */

@media (max-width:500px) {
   
    header h1 span{
        display: block;
    }
}